.famousPlaces{
    padding: 20px;
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
}
.dem {
    position: relative;
    background: url(../img/famous_places/egypt.jpeg) no-repeat center center;
    background-size: cover;
    width: 250px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Zoom effect */
    box-shadow: 10px 10px 50px rgb(42, 151, 155);

}
.dem2 {
    position: relative;
    background: url(../img/famous_places/paris.jpeg) no-repeat center center;
    background-size: cover;
    width: 250px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Zoom effect */
    box-shadow: 10px 10px 50px rgb(42, 151, 155);

}
.dem3 {
    position: relative;
    background: url(../img/famous_places/Travel\ Trends.jpeg) no-repeat center center;
    background-size: cover;
    width: 250px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Zoom effect */
    box-shadow: 10px 10px 50px rgb(42, 151, 155);

}

.dem:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
.dem2:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
.dem3:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

.overlay-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    padding: 10px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.famousPlaces img{
width: 200px;
margin-left: 12px;

}
@media (max-width:930px) {
    .famousPlaces{
        flex-direction: column;
        align-items: center;
    }
    .fp1{
        margin-top: 20px;
    }
    .fp2{
        margin-top: 20px;
    } .fp3{
        margin-top: 20px;
    }
}